# Are these Assignments Legal in Python?

#(a)

In [1]:
42 = n

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3090476294.py, line 1)

In [ ]:
# 42=n is illegal. We cannot assign a variable to a constant n. We can assign a constant n value to a variable 42.

#(b)

In [13]:
a = b = 1  # This is legal and will assign value 1 to both b and b.

#(c)

In [10]:
v = 5;  # In python, we do not use semicolons, but it is not resctricted. Python does not use a semicolon to 
          denote the end of the line.A semicolon is legal if you are including more than one statement on a line.
          Multiple statements on one line may include semicolons as separators.

(d)

In [4]:
x = 58.  # For the period, it depends on the type of statement in which period is added. In this case it works.

In [18]:
z = 30

In [19]:
print(z).  # For all other statement types, we must not use periods otherwise python will return an error as shown

SyntaxError: invalid syntax (2976653638.py, line 1)

In [5]:
print(x)  # However, print(x) returns a float 58.0 and x=58 returns and integer on print().

58.0

In [ ]:
# A period should not be used for other statement types, otherwise python will return an error.

#(e)

In [14]:
cd = 4

In [16]:
print(c)

NameError: name 'c' is not defined

In [ ]:
#  NameError: name not defined error will be returned because python cannot interpret xy because it would interpret 
   xy a a single variable.